<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Editing Answer" });
    });
  </script>
<% end %>

<h2>Editing Answer# <%= @answer.id %></h2>

<div class="answer-form-container">
  <div class="well well-lg">
    <span><%= link_to("View", admin_question_path(@answer.question.id)) %>:
    <%= @answer.question.body %>
  </div>

  <%= form_for([:admin, @answer.question, @answer]) do |f| %>
    <% if @answer.errors.any? %>
      <ul class="answer-errors">
        <% @answer.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit class: "form-control" %>
    </div>
  <% end %>
</div>
