<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Question" });
    });
  </script>
<% end %>

<h2>Displaying Question# <%= @question.id %></h2>

<div class="question-container">
  <div class="product-container well well-sm">
    <span><strong>Product:</strong> <%= link_to @shopify_product.title, "https://#{@shop_session.url}/admin/products/#{@shopify_product.id}", target: "_top" %></span>
  </div>

  <div class="question-body well well-lg">
    <p class="lead">
      <%= @question.body %>
    </p>

    <div class="email">
      <%= @question.asker.email %>
    </div>

    <div class="name">
      <%= @question.asker.name %>
    </div>

    <% if @question.asker.shopify_id %>
      <div class="shopify-url">
        <%= link_to(@question.asker.shopify_id, "https://#{@shop_session.url}/admin/customers/#{@question.asker.shopify_id}", target: "_top") %>
      </div>
    <% end %>
  </div>

  <div class="answers-container">
    A total of <strong><%= @question.answers_count %></strong> answers.

    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <th>Answer</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @question.answers.each do |answer| %>
          <% if answer.persisted? %>
            <tr>
              <td><%= answer.body %></td>
              <td>
                <%= link_to("Edit", edit_admin_question_answer_path(@question, answer)) %> |
                <%= link_to("Delete", admin_question_answer_path(@question, answer), method: :delete) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="answer-form-container">
    Answer this question:
    <%= form_for([:admin, @question, @answer]) do |f| %>
      <% if @answer.errors.any? %>
        <ul class="answer-errors">
          <% @answer.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit class: "form-control" %>
      </div>
    <% end %>
  </div>

  <div class="well well-sm">
    <%= link_to((@question.published? ? "Unpublish this question from Store" : "Publish this question to Store"), admin_question_path(@question), method: :put) %>
  </div>
</div>
